html, body{
	font-size: 14px;
}
#app{
	background-color: #fff;
}


/**
 *	menus
 *
 */
.v-menu__content{
	a{
		text-decoration: none;
		color: #000;
	}
}


/**
 *	cards
 *
 */
.v-card{
	max-width: 100% !important;
}
